@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ruda:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e3ebfa;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.weatherApp {
  max-width: 1000px;
  width: 100%;
  background: linear-gradient(to bottom right, #abc9fc, #639dfd);
  color: #222222;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: grid;
  grid-template-columns: 4.5fr 4fr;
  grid-gap: 1rem;
  flex-grow: 1;
}

.currentCity-section {
  position: relative;
  border-radius: 25px;
  background-position: center;
  background-size: cover;
  padding: 1.5rem;
  text-align: center;
  z-index: 1;
}

.currentCity-section::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  opacity: 1;
  z-index: -1;
  border-radius: 35px;
}

.currentWeather-illustration {
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
}

.currentCity-section img {
  width: 80%;
  object-fit: cover;
  margin: 0 auto;
}

.current-city {
  font-size: 40px;
}

.currentTemperature {
  font-size: 70px;
  margin: 0;
}

.currentTemperature-unit {
  font-size: 30px;
}

.currentCountry {
  font-size: 15px;
}

.current-date {
  font-size: 12px;
  color: #a7a7a7;
}

.temperature-container {
  display: flex;
  align-items: baseline; /* Ensure proper alignment of the temperature and its unit */
}

.currentTemperature {
  font-size: 70px;
  margin-right: 5px; /* Adjust as needed for spacing between the temperature and unit */
}

.currentTemperature-unit {
  font-size: 30px;
}

.weather_temp {
  font-size: 4rem;
  font-weight: 800;
}

.weather-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weatherIcon-container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 1.5rem 3rem;
  padding: 20px;
  box-shadow: 0 15px 20px rgb(61, 100, 166, 0);
  background: linear-gradient(to bottom right, #abc9fc, #639dfd);
  border-radius: 35px;
}

.currentSky {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.content_section {
  padding: 1.5rem;
}

.content_section form {
  margin: 1.5rem 0;
  position: relative;
}

.content_section form input {
  width: 84%;
  outline: none;
  background: transparent;
  border: 1px solid #37474f;
  border-radius: 5px;
  padding: 0.7rem 1rem;
  font-family: inherit;
  color: #37474f;
  font-size: 1rem;
}

.content_section form button {
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1rem 0.7rem;
  font-family: inherit;
  font-size: 0.8rem;
  outline: none;
  border: none;
  background: #f9a5cf;
  color: #fff;
  cursor: pointer;
}

.day_info {
  display: flex;
}

.content {
  width: calc(25% - 10px); /* Adjust the width to make four boxes in a row */
  height: 100px; /* Set a fixed height for each box */
  margin-right: 10px; /* Add margin between boxes */
  border-radius: 10px;
  background: #f8f8f9;
  box-shadow: 0 15px 20px rgba(117, 117, 211, 0.4);
  text-align: center; /* Center the content */
  padding: 10px; /* Add padding inside the box */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content:last-child {
  margin-right: 0; /* Remove margin from the last box */
}

.title {
  font-size: 12px;
  font-weight: 600;
  color: rgb(
    41,
    41,
    41
  ); /* Ensure title color is visible on the gradient background */
}

.value {
  margin-top: 5px; /* Add spacing between title and value */
  color: rgb(
    41,
    41,
    41
  ); /* Ensure value color is visible on the gradient background */
}

.list_content ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 3rem 0rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.list_content ul li {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  transition: all 0.3s ease-in;
}

.list_content ul li:hover {
  transform: scale(1.1);
  background-color: #fff;
  color: #232931;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.list_content ul li img {
  width: 30%; /* Adjusted size */
  object-fit: cover;
}

.icons.fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.7s;
}

@keyframes fadeIn {
  to {
    transition: all 0.5s ease-in;
    opacity: 1;
  }
}

footer {
  font-size: 12px;
}

.hidden {
  display: none;
}

.pin-icon {
  cursor: pointer;
}
